*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
     background:url("./images/max.jpg") no-repeat fixed center / cover;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.start{
    background: linear-gradient(to right, #1e3c72, #2a5298);
    padding: 1rem; 
    border-radius: 10px;
    color: #fff;
    font-size: large;
    box-shadow: 5px 5px 5px brown;
}
.game{
    background: linear-gradient(to right, #7474bf, #348ac7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.box{
    background: linear-gradient(to right, #ff8008, #ffc837);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    height: 90%;
    padding:0 20px;
}
.card-inner img{
    height: 100%;
    width: 100%;
   
}

.card {
    background-color: transparent;
    width: 120px;
    height: 150px;
    perspective: 1000px;
    
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .card-front {
    background-color: #bbb;
    color: black;
  }
  .card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  